@import 'variables';

html {
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}



body {
    background: rgb(117,13,10);
    background: linear-gradient(180deg, rgba(117,13,10,1) 0%, rgba(255,255,255,1) 100%, rgba(117,13,10,1) 100%);

    .container-header {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    color: $light;
    height: 65px;

}

.app-container {
    display: grid; //test
    grid-template-columns: 1fr 1fr; //test
    justify-items: center;
    margin-top: 10px;
    
    .transactions-card {
        border: $basicBorder;
        border-radius: 5px;
        height: 100%;
        width: 50%;

        .section-header {
            display: flex;
            justify-content: center;
        }

        //start of section-b
        .expense-tab {
            display: flex;
            justify-content: space-evenly;

            .expense {

                .selected {
                border: $basicBorder;
                }

                .unselected {
                border: none
                }
            }
        }

        .income-tab {
            display: flex;
            justify-content: space-evenly;

            .income {

                .selected {
                    border: $basicBorder;
                }

                .unselected {
                    border: none;
                }
            }
        }

        form {
            display: flex;
            justify-content: center;
            margin: 5px;
        }

        .calculator {
            display: flex;
            justify-content: center;
            align-content: center;

            .calculator-container {
                
                tbody {
                    
                    tr {

                        color: whitesmoke;
                        display: flex;
                        justify-content: space-evenly;

                        td {
                            width: 50px;
                            height: 50px;
                            border: $basicBorder;
                            border-radius: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
    
}

}